<div id="particles"></div>
    <nav id="navigation-div">
        <a href="/home"><button id="aboutme-homebtn"><span>Home</span></button></a>
        <button id="current"><span>About me</span></button>
        <a href="/portfolio"><button id="aboutme-portfoliobtn"><span>Portfolio</span></button></a>
        <a href="./contact"><button id="aboutme-contactbtn"><span>Contact</span></button></a>
    </nav>

<div id="intro-div">
    <div id="aboutme-title-div">
        <h2 id="aboutme-title">Hi, I'm Maša!</h2>
    </div>
    <div id="image-div">
        <img src="https://i.imgur.com/idpbTMs.jpg" id="headshot"/>
    </div>
    <div id="aboutme-txt-div">
        <p id="aboutme-txt"><strong>I'M A WEB DEVELOPER BASED IN BERLIN, GERMANY</strong><br>
        I build javascript applications and I'm comfortable developing on both frontend and backend.<br>
        Currently, I'm working with technologies like HTML, CSS, Javascript, React, Vue, Node with Express MongoDB and Postgresql. While those are technologies I'm most comfortable with, I would welcome any opportunity to work with new languages and frameworks.<br>
        I build fully responsive web applications and I strive to make the web a better place with every line of code.</p>
    </div>
</div>
