<div id="particles">
    <form>
        <input type="text" id="first-name" placeholder="First Name" required>
        <input type="text" id="last-name" placeholder="Last Name" required>
        <input type="text" id="subject-line" placeholder="Subject Line" required>
        <input type="text" id="mail-body" placeholder="Your Message" required>
        <a href="mailto:masautkovic@gmail.com"><button><span>Send</span></button></a>
    </form>
</div>