<div id="particles">
    <nav id="navigation-div">
        <button><span>About me</span></button>
        <button><span>Portfolio</span></button>
        <a href="./contact"><button><span>Contact</span></button></a>
    </nav>
</div>
<h2>Lorem ipsum</h2>
<div id="intro-div">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam et velit ut ante placerat lobortis. Sed egestas ullamcorper mauris, vitae dapibus nisi dignissim nec. Sed vulputate consectetur orci nec dictum. Etiam suscipit nibh a libero ornare congue. Donec vel nibh tempus, eleifend nunc aliquet, laoreet purus.</p>
</div>
