<div id="particles"></div>
<div id="name">
    <h1>Maša Utković</h1>
    <h2>Full Stack Engineer</h2>
</div>
<a href="./home">
    <figure class="animation">
            <div class="cube">
                <div class="cube-side front"><img src="https://i.imgur.com/I99NZBe.png"/></div>
                <div class="cube-side back"><img src="https://i.imgur.com/sDkcJfp.jpg"/></div>
                <div class="cube-side left"><img src="https://i.imgur.com/HfwUcWe.jpg"/></div>
                <div class="cube-side right"><img src="https://i.imgur.com/siraQq1.jpg"/></div>
                <div class="cube-side top"><img src="https://i.imgur.com/am6z9sC.jpg"/></div>
                <div class="cube-side bottom"><img src="https://i.imgur.com/z91nOfO.jpg"/></div>
            </div>
    </figure>
</a>