<nav id="navigation-div">
        <a href="/home"><button><span>Home</span></button></a>
        <a href="aboutme"><button ><span>About me</span></button></a>
        <button id="current"><span>Portfolio</span></button>
        <a href="contact"><button><span>Contact</span></button></a>
</nav>
<div id="portfolio-grid">
    <div id="plate-check">
        <a href="https://github.com/MaschaU/plate-check" class="github-links"><h4>Plate Check</h4></a>
        <img class="image-portfolio" src="https://media.giphy.com/media/MBvrXNHlTCAmPSDRtC/giphy.gif"/>
    </div>
    <div id="network">
        <h4>Network</h4>
        <img class="image-portfolio" src="https://media.giphy.com/media/HKKscEx6WD15IsXp3r/giphy.gif"/>
    </div>
    <div id="memegur">
        <h4>Memegur</h4>
        <img class="image-portfolio" src="https://media.giphy.com/media/lV2FRamEXt9Xh47WxM/giphy.gif"/>
    </div>
    <div id="towelday-petition">
        <h4>Towelday Petition</h4>
        <img class="image-portfolio" src="https://media.giphy.com/media/zIpidXgWotSEL5gBRU/giphy.gif"/>
    </div>
</div>