<div id="particles"></div>
<nav id="navigation-div">
        <a href="/home"><button><span>Home</span></button></a>
        <a href="aboutme"><button ><span>About me</span></button></a>
        <button id="current"><span>Portfolio</span></button>
        <a href="contact"><button><span>Contact</span></button></a>
</nav>
<div id="portfolio-grid">
    <div id="plate-check">
        <a href="https://github.com/MaschaU/plate-check" class="github-links"><h4 class="project-name">Plate Check</h4></a>
        <a href="#"><img class="image-portfolio" src="https://media.giphy.com/media/MBvrXNHlTCAmPSDRtC/giphy.gif"/></a>
        <h4 class="portfolio-description">Plate Check is a React app developed for people diagnosed with IBS. It allows them to scan the barcode of a product and check if it's safe for their consumption.</h4>
    </div>
    <div id="network">
        <a href="https://github.com/MaschaU/network" class="github-links"><h4 class="project-name">Network</h4></a>
        <a href="#"><img class="image-portfolio" src="https://media.giphy.com/media/HKKscEx6WD15IsXp3r/giphy.gif"/></a>
        <h4 class="portfolio-description">The Network is a single-page React app where users can sign up, say a little bit about themselves and connect with other users.</h4>
    </div>
    <div id="memegur">
        <a href="https://github.com/MaschaU/memegur" class="github-links"><h4 class="project-name">Memegur</h4></a>
        <a href="#"><img class="image-portfolio" src="https://media.giphy.com/media/lV2FRamEXt9Xh47WxM/giphy.gif"/></a>
        <h4 class="portfolio-description">Memegur is a single-page Vue app where anybody can go and post a meme of their choosing, along with a title and a description. Others can go and look at memes and make thoughtful remarks.</h4>
    </div>
    <div id="towelday-petition">
        <a href="https://github.com/MaschaU/towelday-petition" class="github-links"><h4 class="project-name">Towelday Petition</h4></a>
        <a href="#"><img class="image-portfolio" src="https://media.giphy.com/media/zIpidXgWotSEL5gBRU/giphy.gif"/></a>
        <h4 class="portfolio-description">Towelday petition is an online petition that visitors can sign in order to demand a new national holiday, 25th May.</h4>
    </div>
</div>
<div id="portfolio-links">
    <a href="https://codepen.io/maschau"><img class="logos" src="/public/visuals/codepen.svg"/></a>
    <h5 class="logos-txt">Check some of my smaller projects on Codepen!</h5>
    <img class="logos" id="github-logo" src="/public/visuals/github.jpg">
    <h5 class="logos-txt" id="github-logo-txt">Or visit my Github page.</h5>
</div>
