body {
    background-color: #010101;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    font-size: large;
}

.body-container {
    width: 100%;
    height: 100%;
}

#name {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}

h1 {
    color: #ed8d8d;
    text-align: center;
    font-size: 5em;
    margin-bottom: 0;
    text-shadow: 0 0 #fcfbdd, 0 0.5px #dddcc2, 0.5px 0 #fdfdf7, 0 0 #dddcc2;
    line-height: 26pt;
}

h3 {
    color: #ed8d8d;
    font-size: 0.8em;
    text-align: left;
    margin-left: 0;
    margin-top: 1.3em;
}

.sides {
    height: 10em;
    width: 10em;
    border: transparent;
}

#animation-figure {
    width: 60%;
    height: 45%;
    perspective: 144em;
    margin-top: 25em;
    margin-left: 20%;
    margin-right: 20%;
    position: absolute;
    top: 10%;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-6.25em);
    animation: spin 20s linear 0s infinite forwards;
    cursor: pointer;
}

.cube:hover {
    animation-play-state: paused;
}

.cube-side {
    width: 16.25em;
    height: 16.25em;
    color: #dddcc2;
    border: 2px solid #dddcc2;
    background-color: #393e46;
    position: absolute;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.front{
    transform: translateZ(6.25em);
}

.back {
    transform: rotateY(180deg) translateZ(6.25em);
}

.left {
    transform: rotateY(-90deg) translateZ(6.25em);
}

.right{
    transform: rotateY(90deg) translateZ(6.25em);
}

.top {
    transform: rotateX(90deg) translateZ(6.25em);
}

.bottom {
    transform: rotateX(-90deg) translateZ(6.25em);
}


@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }
} 

#particles {
    width: 100%;
    height: 100%;
    background-color: #010101;
    position: fixed;
    z-index: -2;
}

#navigation-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 62.5em;
    height: 6.25em;
    margin-left: auto;
    margin-right: auto;
}

span {
    font-size: 1.53em;
}

button {
    margin: 1.5em;
    width: 10.7em;
    height: 3.3em;
    line-height: 2.8em;
    color: #dddcc2;
    border-radius: 5px;
    padding: 0;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    box-shadow:inset 2px 2px 2px 0px rgba(255, 255, 255, 0.185),
    7px 7px 20px 0px rgba(255, 255, 255, 0.233),
    4px 4px 5px 0px rgba(255, 255, 255, 0.233);
    outline: none;
    border: none;
}

#current {
    border-right: transparent;
    border-left: transparent;
    box-shadow: none;
    border-radius: 5px;
    box-shadow:inset 2px 2px 2px 0px #ed8d8d96,
    7px 7px 20px 0px #ed8d8d6e,
    4px 4px 5px 0px #ed8d8d44;
    transition:400ms ease all;
}

button:hover {
    color: #ed8d8d;
    background: transparent;
    box-shadow:none;
}

button:before,
button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgba(241, 71, 148, 0.616);
    box-shadow:
    -1px -1px 5px 0px #fff,
    7px 7px 20px 0px #0003,
    4px 4px 5px 0px #0002;
    transition:400ms ease all;
}

button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
}

button:hover:before,
button:hover:after{
    width:100%;
    transition:800ms ease all;
}

h2, p {
    color: #dddcc2;
    margin-top: 0;
    position: absolute;
    top: 0.25em;
    left: 0;
    right: 0;
    font-size: 2em;
    font-weight: normal;
    text-align: center;
}

#home-title {
    font-weight: bold;
    font-size: 2em;
    margin-top: 3.5em;
}

form {
    margin-top: 7.5em;
}

#clr {
    color: #86003c;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}
  
aside{
    padding-left: 3.25em;
    text-align:center;
}
  
.row {
    color: #dddcc2;
    padding-left: 0;
}
  
input[type="text"],
select,
textarea {
    width: 70%;
    padding: 0.75em;
    border: 1px solid #282e34;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
label {
    padding: 0.75em 0.75em 0.75em 0;
    display: inline-block;
    font-size: 20px;
}
  
.container {
    border-radius: 5px;
    background-color: #282e34;
    padding: 1.25em;
    width:33%;
    margin: auto;
}

#form-button {
    background-color: rgba(0, 0, 0, 0.2);
    margin-left: -5px;
    margin-top: 2.5em;
}

.thankyou_message {
    height: 2em;
    width: 50em;
}
  
.column25 {
    float: left;
    width: 25%;
    margin-top: 0.375em;
}
  
.column75 {
    float: left;
    width: 75%;
    margin-top: 0.375em;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
img {
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid  #f7f3b6;
}

#image-div, #aboutme-txt-div {
    margin-left: auto;
    margin-right: auto;
}

#intro-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    position: absolute;
    top: 11em;
}

#aboutme-title {
    width: 100%;
    font-size: 4.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    color: #f7f3b6;
}

#aboutme-title-div {
    width: 100%;
    height: 8.625em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 0;
}

#image-div {
    height: 15.625em;
    width: 100%;
    text-align: center;
}

#headshot {
    height: 18em;
    width: 25.7em;
}

#aboutme-txt-div {
    width: 56.3em;
    left: auto;
    right: auto;
}

#aboutme-txt {
    width: 80%;
    margin-top: 15em;
    text-align: center;
    vertical-align: middle;
    line-height: 35pt;
    margin-right: auto;
    margin-left: auto;
}

strong {
    color:  #ed8d8d;
    line-height: 28pt;
    width: 31.25em;
    height: 6.25em;
    font-weight: 900;
}

#portfolio-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.image-portfolio {
    width: 530px;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: 0.5px solid #ed8d8d;
}


#plate-check, #network, #memegur, #towelday-petition {
    margin: 50px;
    margin-bottom: 30px;
    width: 530px;
}

h4 {
    color: #dddcc2;
    font-size: 40px;
    margin: 10px;
}

.github-links {
    text-decoration: none;
}

.portfolio-description {
    width: 24em;
    color: #dfdcc5;
    left: 0;
    right: 0;
    font-size: 1.2em;
    font-weight: 400;
    text-align: center;
    margin-top: 0.315em;
}

.project-name {
    cursor: pointer;
    width: 56%;
    font-size: 1.875em;
    color: #cecdad;
}

.project-name:hover {
    color: #ed8d8d; 
}

#contact {
    font-size: 3.5em;
    font-weight: normal;
    margin-top: 2.5em;
}

a {
    cursor: pointer;
    color: #dddcc2;
    text-decoration: none;
}

#portfolio-links {
    display: grid;
    grid-template-rows: 4em;
    grid-template-columns: 7.5em auto;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4em;
}

.logos-txt {
    grid-column-start: 2;
    justify-self: start;
    text-align: left;
    color: #dddcc2;
    width: 100%;
    font-size: 1.4em;
    font-weight: normal;
    margin-top: 6px;
    margin-left: 0;
    color: #ed8d8d;
}

#github-logo-txt {
    grid-row-start: 2;
}

.logos {
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
    margin-left: 3em;
    margin-right: 0;
    margin-top: 0;
    border: 1px solid #ed8d8d;

}

#github-logo {
    margin-right: -10px;
}

#linkedin {
    display: grid;
    grid-template-columns: 7.5em auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65em;
}

@media only screen and (min-width: 380px) and (max-width: 500px) {
    .column25,
    .column75,
    input[type="submit"] {
      width: 100%;
      margin-top: 0;
    }

    body {
        font-size: small;
    }

    #animation-figure {
        height: 0;
    }

    h1 {
        font-size: 4.5em;
    }

    #headshot {
        margin-left: -12px;
    }

    #navigation-div {
        height: 10.5em;
        width: 414px;
        display: grid;
        grid-template-columns: 15em 15em;
        grid-template-rows: 5em 5em;
        margin-bottom: 50px;
        margin-left: 0;
    }

    #aboutme-txt {
        margin-left: 35px;
    }

    #aboutme-homebtn {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #aboutme-btn {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }

    #linkedin {
        margin-top: 122em;
        height: 50px;
        width: 100%;
    }

    .logos-txt {
        margin-top: -5px;
        width: 95%;
        margin-left: -10px;
    }

    #portfolio-grid {
       flex-direction: column; 
       width: 100%;
       margin-left: -7px;
    }

    #plate-check, #network, #memegur, #towelday-petition {
        width: 290px;
    }

    .image-portfolio {
        width: 315px;
        height: 190px;
        margin-bottom: 10px;
    }

    .portfolio-description {
        width: 15em;
        font-size: 1.5em;
    }

    #plate-check, #network, #memegur, #towelday-petition {
        margin-top: 0;
        margin-bottom: 5px;
    }

    #portfolio-links {
        width: 100%;
    }

    #github-logo-txt {
        margin-top: 7px;
    }

    #codepen-logo-txt {
        margin-bottom: 1px;
    }

    #contact {
        margin-top: 4em;
    }

    form {
        margin-top: 9.5em;
    }

    .container {
        width: 85%;
        margin-left: 7px;
    }

    h3 {
        margin-top: 0.3em;
        font-size: 1em;
    }

    .thankyou_message {
        width: 28em;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 4.3em;
    }

    #animation-figure {
        height: 0;
    }

    #navigation-div {
       margin-left: auto;
       margin-right: auto;
       width: 377px; 
    }

    #aboutme-title {
        font-size: 4.3em;
    }

    #aboutme-txt {
        margin-left: 27px;
    }

    #image-div {
        margin-left: -8px;
    }

    .logos-txt {
        margin-top: -5px;
    }

    #portfolio-grid {
        margin-left: -28px;
    }

    .container {
        margin-left: 5px;
    }

    .thankyou_message {
        width: 25em;
    }

    h3 {
        margin-top: 0;
    }
}

@media screen and (max-width: 320px) {
    h1 {
        font-size: 2.3em;
    }

    #home-title {
        font-size: 1.2em;
    }

    .cube {
        margin-top: -100px;
    }

    .cube-side {
        width: 13.25em;
        height: 13.25em;
    }

    #animation-figure {
        height: 0;
    }

    button {
        width: 8.7em;
    }

    #aboutme-title-div {
        height: 9.625em;
    }

    #aboutme-title {
        font-size: 3.3em;
        margin-top: -23px;
        margin-left: 0;
    }

    #aboutme-txt {
        margin-left: 30px;
        margin-top: 13em;
        font-size: 1.5em;
    }

    #linkedin {
        margin-top: 113em;
        margin-left: -26px;
    }

    #headshot {
        height: 9em;
        width: 14.7em;
    }

    #navigation-div {
        display: grid;
        grid-template-columns: 145px 155px;
        grid-template-rows: 65px 60px;
        margin-left: 0;
        width: 310px;
    }

    #image-div {
        margin-left: 0;
    }

    .logos-img {
        width: 50px;
    }

    .logos-txt {
        margin-top: 1px;
        width: 190px;
        font-size: 1em;
    }

    .image-portfolio {
        width: 270px;
        height: 171px;
    }

    .project-name {
        font-size: 1.5em;
    }

    .portfolio-description {
        width: 12.5em;
        font-size: 1.1em;
    }

    #portfolio-grid {
        width: 300px;
    }

    #plate-check {
        margin-top: 100px;
    }

    #plate-check, #network, #memegur, #towelday-petition {
        margin-bottom: 0;
    }

    #portfolio-links {
        margin-left: -23px;
    }

    .logos-txt {
        margin-top: 0;
        margin-bottom: 24px;
        font-size: 0.9em;
    }

    .logos {
        height: 40px;
        width: 40px;
    }

    #contact {
        font-size: 2.5em;
        margin-top: 3.5em;
    }

    .container {
      width: 255px;  
    }

    input {
        margin-left: 0;
    }

    label {
        font-size: 14px;
        padding: 0;
    }

    .column25 {
        margin-right: 1px;
    }

    #email {
        width: 128%;
    }

    textarea, #fname {
        width: 133%;
    }

    .thankyou_message {
        width: 15em;
    }

    h3 {
        margin-top: 0;
        width: 256px;
    }
}

@media only screen and (max-width: 380px) {
    h1 {
        font-size: 1.8em;
    }

    #home-title {
        font-size: 1em;
    }

    #name {
        left: -80px;
    }

    #animation-figure {
       width: 50%; 
    }

    
}







