body {
    background-color: darkgray;
}

h1 {
    color: tomato;
}

img {
    height: 10em;
    width: 10em;
}

.animation {
    width: 300px;
    height: 300px;
    perspective: 800px;
    margin-top: 40em;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.cube {
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    animation: spin 10s linear 0s infinite forwards;
}

.cube-side {
width: 300px;
height: 300px;
color: black;
border: 6px solid black;
position: absolute;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: center;
text-transform: uppercase;
}

.front{
    transform: translateZ(100px);
}

.back {
    transform: rotateY(180deg) translateZ(100px);

}

.left {
    transform: rotateY(-90deg) translateZ(100px);

}

.right{
    transform: rotateY(90deg) translateZ(100px);

}

.top {
    transform: rotateX(90deg) translateZ(100px);

}
.bottom {
    transform: rotateX(-90deg) translateZ(100px);
}


@keyframes spin {
    0% {
        transform: rotateY(0deg) rotateX(0deg);
    
    }

    100% {
        transform: rotateY(360deg) rotateX(360deg);
    }

} 